@model YourPetPortfolio.Models.Animals

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Animals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AnimalName" class="control-label"></label>
                <input asp-for="AnimalName" class="form-control" />
                <span asp-validation-for="AnimalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalAge" class="control-label"></label>
                <input asp-for="AnimalAge" class="form-control" />
                <span asp-validation-for="AnimalAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalGender" class="control-label"></label>
                <input asp-for="AnimalGender" class="form-control" />
                <span asp-validation-for="AnimalGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalBreed" class="control-label"></label>
                <input asp-for="AnimalBreed" class="form-control" />
                <span asp-validation-for="AnimalBreed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalTemporment" class="control-label"></label>
                <input asp-for="AnimalTemporment" class="form-control" />
                <span asp-validation-for="AnimalTemporment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalDescription" class="control-label"></label>
                <input asp-for="AnimalDescription" class="form-control" />
                <span asp-validation-for="AnimalDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
