
<body>
    
    <section style="text-decoration-color:aliceblue;">This is section text</section>
    <div class="row" style="margin: 20px 20px 20px 20px; ">
        <div class="col-3" style="background-color:blue; margin: 20px 20px 20px 20px;">
            <img src="~/img/randomdog.jpg" style="width: 100%; margin: 0;" />
        </div>


        <div class="col-7" style="background-color:red; margin: 20px 20px 20px 20px;">
            <p>
                Name
                <form>
                    <input type=">" name="name" value="name" />
                </form>
            </p>
        </div>


    </div>

    <div class="row" style="margin: 50px 50px 50px 50px;">
        <div class="col-10" style=" background-color: gray; margin: 50px 50px 50px 50px;">
            <ul>
                <li>A</li>
                <li>B</li>
                <li>C</li>
            </ul>
        </div>
    </div>
</body>