@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Your Pet Portfolio</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-action="Index" asp-controller="Animals">Animals</a>
        </div>
        <div class="col">
            <a asp-action="Index" asp-controller="Employees">Employees</a>
        </div>
        <div class="col">
            <a asp-action="Index" asp-controller="Volunteers">Volunteers</a>
        </div>
    </div>
</div>